/*#footerMenu li a {
  color: #fff;
}

#footerMenu ol,ul {
  list-style: none;
  margin:0;
  padding:0;
}

#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#footerMenu li a{
	text-decoration:none;
	color: #000;
}
#footerMenu li.active a:hover{
	color: #000;
}
#footerMenu li:hover{
	background: rgba(255,255,255, 0.8);
}
#footerMenu li a,
li.active a{
	padding: 9px 18px;
	display:block;
}
#footerMenu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

#footerMenu{
	height: 20px;
	color: #f2f2f2;
	position:fixed;
	z-index:70;
	text-align:right;
}
#footerMenu ul{
	padding: 0 40px;
}
#footerMenu li a{
	display: block;
	margin: 0 22px 0 0;
}
#footerMenu li a:hover{
	text-decoration:underline;
}
#footerMenu li{
	display:inline-block;
	position:relative;
}
*/

#footerList ul{
  list-style-type: georgian;
  text-align: right;
  list-style: none;
}

#footerList li {
	display:inline-block;
	margin: 10px;
	color: #ffffff;
	-webkit-border-radius: 10px;
            border-radius: 10px;
}

#footerList li a{
	text-decoration:none;
	color: #ffffff;
	display: block;
	margin: 10px;
}
#footerList li.active a:hover{
	color: rgb(50, 192, 85);
}
#footerList li:hover{
	color: rgb(50, 192, 85);
}

#footerList li a:hover{
	text-decoration:underline;
}
#footerList li{
	display:inline-block;
	position:relative;
}
#footerText {
  color: '#ffffff'
}