.listItem {
  list-style: inline-block;
  list-style-type: none;
  display: inline;
  text-align: left; }

.listItem li {
  display: inline-block;
  margin-right: 5px;
  align-self: flex-start;
  border-radius: 10px;
  -webkit-border-radius: 10px; }
