.input-box {
  background-color: ivory;
  bottom: 0;
  width: 75vw;
  position: fixed;
  margin: auto; }

.raised {
  box-shadow: 0px 5px 3px -6px rgba(119, 119, 119, 0.8);
  -webkit-box-shadow: 0px 5px 3px -6px rgba(119, 119, 119, 0.8);
  -moz-box-shadow: 0px 5px 3px -6px rgba(119, 119, 119, 0.8); }

.un-border-bottom {
  border-bottom: 1px solid #868686;
  box-shadow: 0px 5px 3px -3px rgba(119, 119, 119, 0.7);
  -webkit-box-shadow: 0px 5px 3px -3px rgba(119, 119, 119, 0.7);
  -moz-box-shadow: 0px 5px 3px -3px rgba(119, 119, 119, 0.7); }

.un-border-right {
  border-right: 1px solid #868686;
  box-shadow: 5px 0px 3px -3px rgba(119, 119, 119, 0.8);
  -webkit-box-shadow: 5px 0px 3px -3px rgba(119, 119, 119, 0.8);
  -moz-box-shadow: 5px 0px 3px -3px rgba(119, 119, 119, 0.8); }

.un-border-left {
  border-left: 1px solid #868686;
  box-shadow: -5px 0px 3px -3px rgba(119, 119, 119, 0.8);
  -webkit-box-shadow: -5px 0px 3px -3px rgba(119, 119, 119, 0.8);
  -moz-box-shadow: -5px 0px 3px -3px rgba(119, 119, 119, 0.8); }
