.un-content {
  background-color: #ffffff;
  height: 45px;
  overflow: hidden;
}

.un-min-content {
  background-color: #5ce925;
  height: 45px;
  width: 10px;
}

.un-block-display {
  font-weight: bold;
}