.un-content {
  background-color: #ffffff;
  height: 45px;
  overflow: hidden;
  margin-bottom: 10px; }

.un-min-content {
  background-color: #5ce925;
  height: 45px;
  width: 10px; }

.un-block-display {
  font-weight: bold; }
