/*Style the DIV*/
/*Fade all the DIV when user hovers on any div*/
.person:hover .box{
  zoom: 1;
  filter: alpha(opacity=45);
  opacity: 0.45;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

/*Fade out the particular DIV when user hover on that DIV*/
.person .box:hover{
  box-shadow: 3px 3px 15px #666;
  border-color:#fff;
  background: #fff;
  cursor: pointer;
  
  /*Opacity*/
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
}

.bolder {
  font-weight: bold;
}

.round-avatar {
  width:40px;
  height:40px;
  background-color:azure;
  box-shadow:0px 0px 0px 30px black inset;
  border-width: 5px;
}

.mdc-list-item-mod {
  padding: 10;
}