#sideBg {
  background: url("../../../Assets/bg8.svg"), url("../../../Assets/bg4.svg"), url("../../../Assets/bg2.svg") 40px;
  background-position: right bottom, right top, bottom right;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: auto, auto, 60%; }

.sideBg {
  background: url("../../../Assets/bg8.svg"), url("../../../Assets/bg4.svg"), url("../../../Assets/bg2.svg") 40px;
  background-position: right bottom, right top, bottom right;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-size: auto, auto, 60%; }
