
.un-padding--large {
  padding: 70px 70px 70px 70px;
}

@media screen and (max-width: 800px) {
  .un-padding--large {
    padding: 8px 8px 8px 8px;
  }

}

@media screen and (max-width: 480px) {

  .un-padding--large {
    padding: 2px;
  }

}