$global-primary-background: #09d35d !default;
$navbar-nav-item-height: 55px !default;
$navbar-nav-item-active-color: #09d35d !default;
$navbar-nav-item-color: #212121 !default;
$navbar-nav-item-hover-color:  #09d35d !default;
$navbar-nav-item-onclick-color: #09d35d !default;
// $global-background: #e4e6eb !default;
$card-footer-padding-vertical-l: 1 !default;
$card-small-footer-padding-vertical: 1 !default;
$card-footer-padding-horizontal: 1 !default;
$navbar-background: #ffffff !default;

$global-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Open Sans" Arial, sans-serif !default;

// 2. Import default variables and available mixins.
@import "node_modules/uikit/src/scss/variables-theme.scss";
@import "node_modules/uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "node_modules/uikit/src/scss/uikit-theme.scss";

// SCSS rule
.uk-card {
  position: relative;
  box-sizing: border-box;

  // mixin to allow adding new declaration
  @include hook-card();
}

button {
  border-radius: 67rem
}

.bg-muted {
  background-color: #e1eaf1;
}

body {
  background-color: #e1eaf1;
}

// Import only the needed components

@import "node_modules/spectre.css/src/_variables";
@import "node_modules/spectre.css/src/_icons";
@import "node_modules/spectre.css/src/_mixins";
@import "node_modules/spectre.css/src/_parallax";
@import "node_modules/spectre.css/src/_utilities";
@import "node_modules/spectre.css/src/_panels";
@import "node_modules/spectre.css/src/_empty";
@import "node_modules/spectre.css/src/_menus";
@import "node_modules/spectre.css/src/_autocomplete";
@import "node_modules/spectre.css/src/_avatars";
@import "node_modules/spectre.css/src/_calendars";
@import "node_modules/spectre.css/src/_buttons";
@import "node_modules/spectre.css/src/_forms";
/**/

.rcorners {
    border-radius: 60px;
    background: #73AD21;
    padding: 2px;
    box-shadow: #09d35d;
}