.un-sidebar-container {
  background-color: #fff;
}

.un-sidebar-container ul {
  list-style: none;
  list-style-type: none
}

.un-sidebar-container ul li {
  color: black;
  padding: 10px;
  border-bottom: 1px solid snow;
}